* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Pretendard", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  color: #222222;
  letter-spacing: -0.2px;
}

/* ////////// */
/* background */
/* ////////// */
.bg-light-green {
  background-color: #edfff6;
}

.bg-light-yellow {
  background-color: #fffeed;
}

.bg-light-blue {
  background-color: #edfdff;
}

/* ///////// */
/* // nav // */
/* ///////// */
.box-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 22px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  z-index: 1;
}

/* main */
.box-nav .btn-nav-main {
  height: 20px;
  background: none;
  cursor: pointer;
}

.box-nav .btn-nav-main > img {
  height: 20px;
}

/* connect */
.box-nav .btn-nav-connect {
  height: 32px;
  padding: 0 13px;
  background: none;
  border: 2px solid #168249;
  border-radius: 10px;
}

.box-nav .btn-nav-connect > img {
  height: 10px;
}

/* profile */
.box-nav .btn-nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: none;
  border: 2px solid #168249;
  border-radius: 10px;
  line-height: 32px;
}

.box-nav .btn-nav-profile > img {
  width: 16px;
}

/* ///////////////// */
/* // nav 2 depth // */
/* ///////////////// */
.box-nav-2depth {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 22px;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
  z-index: 1;
}

.box-nav-2depth > button {
  position: absolute;
  width: 10px;
  background: none;
}

.box-nav-2depth > span {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

/* ///////// */
/* Main Page */
/* ///////// */
.box-main {
  padding-top: 64px;
}

.box-main .box-main-title {
  position: relative;
}

.box-main .box-main-title > img {
  width: 100%;
}

.box-main .box-main-title .box-main-txt {
  position: absolute;
  top: 30px;
  left: 22px;
}

.box-main .box-main-title .box-main-txt > span {
  display: block;
  margin-bottom: 3px;
  font-size: 16px;
}

.box-main .box-main-title .box-main-txt > span.txt-main-case {
  font-weight: 700;
}

/* κ°μΈν™” */
.box-not-connect,
.box-connect {
  margin-top: 30px;
  padding: 0 22px;
}

.box-not-connect > .txt-title,
.box-connect > .txt-title {
  font-size: 18px;
  font-weight: 600;
}

.box-not-connect > .txt-subtitle {
  margin-top: 15px;
  color: #aaaaaa;
  font-size: 14px;
  line-height: 19.6px;
}

.box-not-connect .box-challenge-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.box-not-connect .box-challenge-list .box-challenge,
.box-connect .box-challenge {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}

.box-not-connect .box-challenge-list .box-challenge .box-challenge-img,
.box-connect .box-challenge .box-challenge-img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 10px;
}

.box-not-connect .box-challenge-list .box-challenge .box-challenge-img > img,
.box-connect .box-challenge .box-challenge-img > img {
  width: 80px;
}

.box-not-connect .box-challenge-list .box-challenge .box-challenge-txt,
.box-connect .box-challenge .box-challenge-txt {
  display: flex;
  flex-direction: column;
}

.box-not-connect
  .box-challenge-list
  .box-challenge
  .box-challenge-txt
  > .txt-title,
.box-connect .box-challenge .box-challenge-txt > .txt-title {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
}

.box-not-connect
  .box-challenge-list
  .box-challenge
  .box-challenge-txt
  > .txt-subtitle,
.box-connect .box-challenge .box-challenge-txt > .txt-subtitle {
  color: #aaaaaa;
  font-size: 14px;
}

.box-connect .btn-challenge {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  background: none;
  border: 1px solid #168249;
  border-radius: 10px;
  color: #168249;
  font-size: 16px;
}

.box-connect .box-challenge {
  margin-top: 15px;
}

.box-another-challenger {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.box-another-challenger > .txt-title {
  padding: 0 22px;
  font-size: 18px;
  font-weight: 600;
}

.box-another-challenger .box-another-challenge-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  font-size: 0;
}

.box-another-challenger .box-another-challenge-img .box-upload-challenge-img {
  display: flex;
  overflow: hidden;
}

.box-another-challenger
  .box-another-challenge-img
  .box-upload-challenge-img
  > img {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* ///////////// */
/* Activity Page */
/* ///////////// */
.box-activity-input {
  position: relative;
  padding: 28px 22px 0;
}

.box-activity-input > input.pac-target-input {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px #0003;
  color: #222222;
  font-size: 16px;
}

.box-activity-input > input.pac-target-input::placeholder {
  color: #aaaaaa;
}

/* //////////////////// */
/* ActivityImageUp Page */
/* //////////////////// */
.activity-information{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 64px 0 0 0;
  width: 100vw;
  height: 288px;
  background-color: #EDFFF6;
}
.activity-information>img{
  width: 164px;
  height: 164px;
}
.act-detail-title{
  font-size: 18px;
  font-weight: 600;
  color: #222222;
}
.act-detail-period{
  font-size: 14px;
  font-weight: normal;
  margin-top: 15px;
  color: #222222;
}
.act-detail-location{
  font-size: 14px;
  font-weight: normal;
  color: #222222;
}
.act-detail-reward{
  margin-top: 15px;
}
.act-detail-reward span:nth-child(1){
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
  color: #222222;
}
.act-detail-reward span:nth-child(2){
  font-size: 14px;
  font-weight: normal;
  color: #222222;
}
.activity-text-ing{
  padding-left: 22px;
  font-size: 18px;
  font-weight: 600;
  color: #222222;
}
.img-information{
  margin-top: 30px;
}
.img-upload-box{
  display: flex;
  justify-content: center;
}
.img-upload{
  width: 175px;
  height: 175px;
  background-color: #AAAAAA;
}
.voting-button-box{
  margin-top: 30px;
}
.voting-rule div:nth-child(1){
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: normal;
  color: #AAAAAA;
}
.voting-rule div:nth-child(2){
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: normal;
  color: #AAAAAA;
}
.btn-votingup{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 349px;
  height: 44px;
  background-color: #AAAAAA;
  margin: 15px 0 0 22px;
  color: #FFFFFF;
  border-radius: 10px;
}

/* //////////// */
/* Profile Page */
/* //////////// */
.box-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 22px;
  padding-top: 64px;
}

.box-profile .box-profile-img {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin-top: 30px;
  border-radius: 50px;
  overflow: hidden;
}

.box-profile .box-profile-img > img {
  width: 100%;
}

.box-profile .txt-nickname {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}

.box-profile .box-balance {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  padding: 35px 22px;
  background-color: #168249;
  border-radius: 10px;
  color: #ffffff;
}

.box-profile .box-balance .box-balance-top {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff33;
}

.box-profile .box-balance .box-balance-top .box-balance-token {
  display: flex;
  align-items: center;
}

.box-profile .box-balance .box-balance-top .box-balance-token .img-token {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  overflow: hidden;
}

.box-profile .box-balance .box-balance-top .box-balance-token .img-token > img {
  width: 30px;
}

.box-profile .box-balance .box-balance-top .box-balance-token .box-token-txt {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.box-profile
  .box-balance
  .box-balance-top
  .box-balance-token
  .box-token-txt
  .txt-balance-exp {
  margin-bottom: 6px;
  color: #dddddd;
  font-size: 14px;
}

.box-profile
  .box-balance
  .box-balance-top
  .box-balance-token
  .box-token-txt
  .txt-balance {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.box-profile .box-balance .box-balance-top .box-btn-token {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.box-profile .box-balance .box-balance-top .box-btn-token .btn-token {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #ffffff33;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
}

.box-profile .box-balance .box-balance-matic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.box-profile .box-balance .box-balance-matic .txt-balance-exp {
  color: #ffffff;
  font-size: 14px;
}

.box-profile .box-balance .box-balance-matic .txt-balance {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

.box-profile .box-challenge-progress,
.box-profile .box-challenge-vote {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}

.box-profile .box-challenge-progress > .txt-title,
.box-profile .box-challenge-vote > .txt-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.box-profile .box-challenge-progress > .box-challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
}

.box-profile .box-challenge-progress > .box-challenge > div {
  display: flex;
  align-items: center;
  width: 100%;
}

.box-profile .box-challenge-progress > .box-challenge .box-challenge-img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 10px;
}

.box-profile .box-challenge-progress > .box-challenge .box-challenge-img > img {
  width: 80px;
}

.box-profile .box-challenge-progress > .box-challenge .box-challenge-txt {
  display: flex;
  flex-direction: column;
}

.box-profile
  .box-challenge-progress
  > .box-challenge
  .box-challenge-txt
  > .txt-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.box-profile
  .box-challenge-progress
  > .box-challenge
  .box-challenge-txt
  > .txt-subtitle {
  display: inline-block;
  color: #aaaaaa;
  font-size: 14px;
}

.box-profile
  .box-challenge-progress
  > .box-challenge
  .box-challenge-txt
  > .txt-subtitle:last-child {
  margin-top: 3px;
}

.box-profile .box-challenge-progress > .box-challenge .btn-challenge-detail {
  width: 100%;
  height: 44px;
  margin-top: 20px;
  background: none;
  border: 1px solid #168249;
  border-radius: 10px;
  color: #168249;
  font-size: 16px;
}

/* ////////////// */
/* Token Exchange */
/* ////////////// */
.box-token-exchange {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  padding: 64px 22px 0;
}

.box-token-exchange .txt-token-exchange-exp {
  margin-top: 30px;
  color: #aaaaaa;
  font-size: 14px;
}

.box-token-exchange .box-token-amount {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.box-token-exchange .box-token-amount .box-token-amount-txt {
  display: flex;
  justify-content: space-between;
}

.box-token-exchange .box-token-amount .box-token-amount-txt > span {
  font-size: 14px;
}

.box-token-exchange
  .box-token-amount
  .box-token-amount-txt
  .txt-token-amount-exp,
.box-token-exchange .box-token-amount .box-token-amount-txt > span > span {
  font-weight: 600;
}

.box-token-exchange .box-token-amount > input {
  margin-top: 15px;
  padding: 20px 22px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  font-size: 16px;
}

.box-token-exchange .box-token-amount > input::placeholder {
  color: #dddddd;
}

.box-token-exchange .box-matic-amount {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.box-token-exchange .box-matic-amount > span {
  font-size: 14px;
  font-weight: 600;
}

.box-token-exchange .box-matic-amount > input {
  margin-top: 15px;
  padding: 20px 22px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  color: #aaaaaa;
  font-size: 16px;
}

/* ////// */
/* Footer */
/* ////// */
.box-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 35px;
  border: 1px solid #dddddd;
}

.box-footer .box-footer-top {
  margin-bottom: 8px;
}

.box-footer div .btn-footer {
  padding: 0 8px;
  background: none;
  color: #aaaaaa;
}

.box-footer .lg-greenvibe {
  margin-top: 30px;
}

/* //////////////// */
/* Button Component */
/* //////////////// */

/* Solid Button */
.btn-solid {
  width: 100%;
  padding: 20px 0;
  background-color: #168249;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
}

.btn-solid:disabled {
  background-color: #dddddd;
}

/* ////////////////// */
/* Activity Component */
/* ////////////////// */

/* ActivityShort */
.box-short-form-location{
  position: fixed;
  top: 75%;
}

.box-short-form{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  width: 100vw;
  height: 25vh;
  padding: 10px 0 0 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-information{
  display: flex;
  justify-content: space-between;
  width: 349px;
}

.title-text{
  font-size: 18px;
  font-weight: 600;
}

.date-text{
  font-size: 14px;
  color: #AAAAAA;
  margin-top: 6px;
}

.location-text{
  font-size: 14px;
  margin-top: 10px;
  color: #222222;
}

.box-short-form>div>img{
  width: 80px;
  height: 80px;
}

.btn-view-detail{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 349px;
  height: 44px;
  color: #168249;
  font-size: 16px;
  border: solid 1px #168249;
  border-radius: 10px;
  cursor: pointer;
}

/* ActivityDetails */
.box-detail-form-location{
  position: fixed;
  top: 19%;
  z-index: 998;
}

.box-detail-form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 74vh;
  background-color: #FFFFFF;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.recycle-img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 220px;
  background-color: #EDFFF6;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.recycle-img-box>img{
  width: 164px;
  height: 164px;
}

.btn-close{
  display: flex;
  justify-content: flex-end;
}
.btn-close>div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50px;
  margin: 0 22px 15px 0;
  cursor: pointer;
}
.detail-information{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  padding-left: 22px;
}
.info-title{
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
.info-activity{
  color: #AAAAAA;
  margin-top: 15px;
  font-size: 14px;
}
.duration-location-reward{
  margin-top: 30px;
}
.duration-location-reward div{
  margin-bottom: 10px;
}
.duration-location-reward div:nth-child(1){
  font-weight: 600;
  font-size: 14px;
}
.duration-location-reward div:nth-child(2){
  font-weight: 600;
  font-size: 14px;
}
.duration-location-reward div:nth-child(3){
  font-weight: 600;
  font-size: 14px;
}
.duration-location-reward span{
  margin-left: 17px;
  font-weight: normal;
  font-size: 14px;
}
.notice-rule{
  font-size: 12px;
  font-weight: normal;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.notice-rule div:nth-child(1){
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  color: #AAAAAA;
}
.notice-rule div:nth-child(2){
  display: flex;
  justify-content: center;
  color: #AAAAAA;
}
.rule-start{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 349px;
  height: 44px;
  background-color: #168249;
  color: #FFFFFF;
  border-radius: 10px;
  margin: 15px 0 22px 0;
}

/* Confirm.js */
.background-modal{
  background-color: #2222224D;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.confirm-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 349px;
  height: 210px;
  background-color: #FFFFFF;
  transform: translate(7%, -260%);
  border-radius: 10px;
  z-index: 997;
}
.title-activity-start{
  width: 100vw;
  height: 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;
}
.deposit-rule{
  font-size: 14px;
  color: #AAAAAA;
  margin-top: 40px;
}
.cancel-start{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.cancel-start div:nth-child(1){
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;
  background-color: #DDDDDD;
  border-bottom-left-radius: 10px;
  color: #FFFFFF;
}
.cancel-start div:nth-child(2){
  width: 175px;
  height: 50px;
  background-color: #168249;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 50px;
  color: #FFFFFF;
  border-bottom-right-radius: 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2222224D
}